/**
 * Founders & Coders theme for reveal.js
 *
 * By @arrested-developer
 */
/* brand colours */
/* colombia flag :) */
@import url(../../lib/font/gt-eesti/gt-eesti.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

section.has-dark-background a, section.has-dark-background a.link, section.has-dark-background a.visited, section.has-dark-background a.active {
  color: #ffe500 !important; }

.reveal .slide-stripey {
  background-image: url(../../assets/backgrounds/stripes.svg);
  height: 500px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */ }

.reveal {
  font-weight: 300 !important;
  letter-spacing: 0.01em; }

.reveal b {
  font-weight: bold;
  font-weight: 600 !important; }

.reveal blockquote {
  padding: 16px !important;
  font-weight: 400 !important;
  background: white !important;
  text-align: center !important;
  color: #121212 !important; }

.reveal blockquote::before {
  content: '"';
  font-size: 200px;
  position: absolute;
  left: 0;
  line-height: 0.33em; }

.reveal q {
  font-weight: 400; }

.reveal .bigunderline {
  background-image: linear-gradient(to right, #ffe500 0%, #ffe500 100%);
  background-repeat: repeat-x;
  background-position-x: 85%;
  background-position-y: 85%;
  background-size: 100% 6px; }

.reveal h1 > .bigunderline {
  background-size: 100% 16px; }

.reveal h2 > .bigunderline,
.reveal h3 > .bigunderline {
  background-size: 100% 8px !important;
  background-position-x: 85% !important;
  background-position-y: 85% !important; }

.reveal h4 > .bigunderline,
.reveal h5 > .bigunderline,
.reveal h6 > .bigunderline {
  background-size: 100% 6px !important; }

.reveal .bigunderline--red {
  background-image: linear-gradient(to right, #ff2800 0%, #ff2800 100%); }

.reveal .bigunderline--yellow {
  background-image: linear-gradient(to right, #ffe500 0%, #ffe500 100%); }

.reveal .bigunderline--blue {
  background-image: linear-gradient(to right, #0805ec 0%, #0805ec 100%); }

.reveal .bigunderline--white {
  background-image: linear-gradient(to right, #fff 0%, #fff 100%); }

.reveal .slides section .fragment.highlight-red.visible {
  color: #ff2800; }

.reveal .slides section .fragment.highlight-green.visible {
  color: #00be00; }

.reveal .slides section .fragment.highlight-blue.visible {
  color: #0805ec; }

.reveal .slides section .fragment.highlight-current-red.current-fragment {
  color: #ff2800; }

.reveal .slides section .fragment.highlight-current-green.current-fragment {
  color: #00be00; }

.reveal .slides section .fragment.highlight-current-blue.current-fragment {
  color: #0805ec; }

ol {
  list-style: none !important;
  counter-reset: my-awesome-counter;
  margin-left: 0 !important; }

ol li {
  counter-increment: my-awesome-counter; }

ol li::before {
  content: counter(my-awesome-counter);
  color: black;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  top: -18px;
  margin-right: 16px; }

ul {
  list-style-image: url(../../assets/ui/arrow_right_black.svg) !important; }

.reveal img {
  border: 0px solid black !important;
  box-shadow: none !important;
  background: none !important; }

.img-s {
  width: 10vw;
  height: auto; }

.img-m {
  width: 20vw;
  height: auto; }

.img-l {
  width: 50vw;
  height: auto; }

.img-xl {
  width: 75vw;
  height: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "GT Eesti", Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #121212; }

::selection {
  color: #121212;
  background: #ffe500;
  text-shadow: none; }

::-moz-selection {
  color: #121212;
  background: #ffe500;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 16px 0;
  color: #121212;
  font-family: "GT Eesti", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 16px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 16px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 16px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #0805ec;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #4542fb;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #0503a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #121212;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #0805ec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #0805ec; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #0805ec; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }
