@import url(http://fonts.googleapis.com/css?family=Fauna+One|Fjalla+One);

/**
 * Solarized Dark theme for reveal.js.
 * Author: Achim Staebler
 */

html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: #FDF6E3; }

.reveal {
  font-family: "Fauna One", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #104859; }

::selection {
  color: white;
  background: #d33682;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #B58929;
  font-family: "Fjalla One", Impact, sans-serif;
  font-size: 1.6em;
  letter-spacing: -.04em;
 }

.reveal h1 {
  color: #CB4B19;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.reveal h2 {
  font-size: 2.2em;
  color: #6C71C4;
}

.reveal h3 {
  font-size: 1.2em;
  color: #32A198;
}

.sate-background h2: {
  color: #EEE8D5;
}

.reveal pre code {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 10px 20px;
}

.reveal pre {
    box-shadow: none;
}

.tabindent {
  display: inline-block;
  width: 30px;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #6C71C4;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #78b9e6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a6091; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  background: none;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #268bd2; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #268bd2; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #268bd2; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #268bd2; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #6C71C4; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #6C71C4; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #6C71C4; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #6C71C4; }


strong {
  color: #10AAC0;
  font-weight: bold;
}

small {
  color: #E8A70A;
  line-height: 120%;
}

.current-fragment {
  color: #B58929;
}
