/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */

// Load utils
@use 'sass:color';
@use 'template/mixins' as mixins;

// Solarized colors by Ethan Schoonover
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

$active-color: $blue;

// Inject theme variables (with some overrides)
@use 'template/settings' with (
	$background-color: $base3,

	$main-color: $base00,
	$heading-color: $base01,

	$link-color: $active-color,
	$link-color-hover: color.scale($active-color, $lightness: 20%),
	$selection-color: #fff,
	$selection-background-color: $magenta,

	$overlay-element-bg-color: '0 0 0',
	$overlay-element-fg-color: '240 240 240'
);

// Inject the theme template
@use 'template/theme';

// Include theme-specific fonts
@import url('./fonts/league-gothic/league-gothic.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic');

// Change text when the background is inverted
@include mixins.dark-bg-text-color(#fff);
