/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

// Load utils
@use 'sass:color';
@use 'template/mixins' as mixins;

$active-color: #2a76dd;

// Inject theme variables (with some overrides)
@use 'template/settings' with (
	$background-color: #fff,

	$main-color: #222,
	$main-font: "'Source Sans Pro', Helvetica, sans-serif",
	$main-font-size: 42px,

	$heading-color: #222,
	$heading-font: "'Source Sans Pro', Helvetica, sans-serif",
	$heading-font-weight: 600,

	$heading1-size: 2.5em,
	$heading2-size: 1.6em,
	$heading3-size: 1.3em,
	$heading4-size: 1em,

	$link-color: $active-color,
	$link-color-hover: color.scale($active-color, $lightness: 15%),
	$selection-color: #fff,
	$selection-background-color: $active-color,

	$overlay-element-bg-color: '0 0 0',
	$overlay-element-fg-color: '240 240 240'
);

// Inject the theme template
@use 'template/theme';

// Include theme-specific fonts
@import url('./fonts/source-sans-pro/source-sans-pro.css');

// Change text when the background is inverted
@include mixins.dark-bg-text-color(#fff);
