/*
	Just a bit of styling
*/

.reveal h1 {
	margin-top: 0.5em;
}

.reveal h2 {
	font-size: 2.5em;
	margin-top: 0.5em;
}

.reveal h3 {
	margin-top: 0.5em;
	font-size: 1.8em;
}

code.big {
	font-size: 1.4em;
}

/*
	Animations
*/

.hidden {
	display: none;
}

.visible {
	display: block;
}

.bigger {
	font-size: 1.5em;
}

.stronger {
	font-weight: bold;
}

	
@-webkit-keyframes spin {
   from { -webkit-transform: rotate3d(0, 10, 0, 0deg); }
   to   { -webkit-transform: rotate3d(0, 10, 0, -30deg); }
}

.rotated {
   -webkit-animation-name: spin;
   -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: ease;
   -webkit-animation-delay: 0;
   -webkit-animation-iteration-count: 1;
}
