.code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background: #3F3F3F;
  color: #DCDCDC;
  font-family: monospace !important;
  text-align: left;
}

.step-note {
  padding:5px !important;
  font-size: 75% !important;
  color: #F0E9E9 !important;
  font-style: italic !important;
}

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

.rating {
  display:inline-block;
  margin:0;
  padding:0;
  margin:auto;
  width:200px;
  text-align:center;
  background: rgba(0,0,0, .4);
}

.rating span {
  margin:0;
  padding:0;
  display:inline-block;
  text-align:center;
  width: 25px;
  height: 25px;
  overflow: hidden;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background: url('/images/ratings.png');
  background-size: 75px 75px;
}

.rating span.r100 {
  background-position-x: 0px;
}

.rating span.r50 {
  background-position-x: -25px;
}
.rating span.r0 {
  background-position-x: -50px;
}

.rating span.rdrupal {
  background-position-y: -25px;
}

.rating span.rhack {
  background-position-y: 0px;
}

.rating span.rstable {
  background-position-y: -50px;
}
