body {
  background: #197f9f;
  background-color: #197f9f;
}

.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, ::selection, .reveal .roll span:after {
  color: #fff;
}

section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222;
}

body {
  background: #197f9f;
  background-color: #197f9f;
}

::selection {
  background: #bee4fd;
}

.reveal blockquote {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal pre {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal pre code {
  background: #3F3F3F;
  color: #DCDCDC;
}

.reveal a {
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:hover {
  color: #8dcffc;
}

.reveal .roll span:after {
  background: #068ee9;
}

.reveal section img {
  background: rgba(255, 255, 255, 0.12);
  border-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

 .reveal a, .reveal .slide-number {
  color: #42affa;
}

 .reveal .progress span {
  background: #42affa;
}

.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #42affa; }

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #42affa; }

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #42affa; }

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #42affa; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #8dcffc; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #8dcffc; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #8dcffc; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #8dcffc; }

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

