.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, ::selection, .reveal .roll span:after {
  color: #fff;
}

section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222;
}

body {
  background-color: #000;
  color: #fff;
}

::selection {
  background: #bee4fd;
}

.reveal blockquote {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal pre {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal pre code {
  background: #3F3F3F;
  color: #DCDCDC;
}

.reveal a {
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal .roll span:after {
  background: #068ee9;
}

.reveal section img {
  background: rgba(255, 255, 255, 0.12);
  border-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

.reveal a, .reveal .slide-number,
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled,
.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled,
.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled,
.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled,
.reveal pre code .highlight-line:before {
  color: #1cb1ff;
}

.reveal .progress span {
  background-color: #53B0EB;
}

.reveal a:hover,
.reveal .controls .navigate-left.enabled:hover,
.reveal .controls .navigate-right.enabled:hover,
.reveal .controls .navigate-up.enabled:hover,
.reveal .controls .navigate-down.enabled:hover {
 color: #62c9ff;
}

 .reveal .progress span {
  background: #42affa;
}

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
  border-right-color: ##1cb1ff; }

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
  border-left-color: #1cb1ff; }

.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
  border-bottom-color: #1cb1ff; }

.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
  border-top-color: #1cb1ff; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #62c9ff; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #62c9ff; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #62c9ff; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #62c9ff; }

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .overlay-text {
  background: rgba(0, 0, 0, 0.7);
}
