.code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  text-align: left;
}

code {
  counter-reset: line;
}

code span.line-number {
  counter-increment: line;
}

code span.line-number:before {
  content: counter(line);
  color: gray;
  position:relative;
  float:left;
  left:-25px;
  font-size: 90% !important;
}

.step-note {
  padding:5px !important;
}

.tldr {
  line-height: 1 !important;
  font-size: 60% !important;
  color: #efef8f !important;
  border: 1px #fff solid !important;
  padding: 5px !important;
}

.tldr strong {
  color: #fff;
}

.caption, .filename {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1 !important;
  font-size: 50% !important;
  color: #CCC  !important;
  font-style: italic !important;
}

.caption { color: #CCC !important;}

pre span.codename {
  display:block;
  text-align: right;
  background: #3F3F3F;
  color: #FFF  !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size:75% !important;
  font-style: italic !important;
  font-family: monospace !important;
  line-height: 1 !important;
}

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

.screenshot {
  display: inline-block;
  max-height: 550px !important;
}

.list-header {
  list-style-type: none;
  text-align: center;
  font-weight: 800;
  text-decoration: underline;
}

.section-gif {
  display: inline-block;
  width: 50%;
}
