/* customizations for the individual sections - data-state="x" ------------- */

html.sl-cover {

  h2 {
    text-transform: none;
  }

  h5 {
    margin-top: 40px;
    font-weight: 100;
    font-size: 55px;
  }

  .slide-background {
    opacity: 0.1 !important;
  }
}


html.sl-authors {

  .author {
    float: left;
    position: relative;
    width: 410px;
    text-align: left;
    margin: 100px 20px 0 40px;

    h3 {
      margin-bottom: 10px;
    }

    ul {
      margin: 0px 0 0 0;
      padding: 0;
      text-align: left;

      li {

        &:first-of-type {
           margin-bottom: 60px !important;
        }

        list-style-type: none;
        margin: 0 0 40px 0;
      }
    }
  }

  .slide-background {
    opacity: 0.2 !important;
  }
}


html.sl-company {

  .slide-background {
    opacity: 0.2 !important;
  }
}


html.sl-teamlevel {

  .slide-background {
    opacity: 0.2 !important;
  }
}


html.sl-codesample {

  .slide-background {
    opacity: 0.6 !important;
  }
}



html.sl-merci {

  .reveal {
    #hiring {
      padding-top: 70px;
    }
  }
}




/* general style overrides ------------------------------------------------- */

body {
  background: #231f20;
  background-color: #231f20;

  &:after {
    content: url("../img/parkside_logo_bright.svg");
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
}

.reveal {
  font-family: "proxima-nova", sans-serif;

  h1,h2,h3,h4,h5,h6 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
    text-transform: none;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: center;


    li {
      list-style-type: none;
    }
  }

  p,li,q {
    margin: 20px 0;
    line-height: 1.3 ;
    font-weight: 100;
    font-size: 80%;
    font-style: normal;
  }

  .controls {
    left: 10px !important;

    .navigate-left,.navigate-left.enabled {
      border-right-color: #fff;
    }

    .navigate-right, .navigate-right.enabled {
      border-left-color: #fff;
    }

    .navigate-up,.navigate-up.enabled {
      border-bottom-color: #fff;
    }

    .navigate-down,.navigate-down.enabled {
      border-top-color: #fff;
    }
  }
}

img#tools {

  border: none;
  margin: 40px 0;
  background: transparent;
  width: 60%;
}


h4#eol {
  font-style: italic;
  font-weight:100;
  margin-top: 150px;

}
