/* customizations for the individual sections - data-state="x" ------------- */
html.sl-cover h2 {
  text-transform: none; }

html.sl-cover h5 {
  margin-top: 40px;
  font-weight: 100;
  font-size: 55px; }

html.sl-cover .slide-background {
  opacity: 0.1 !important; }

html.sl-authors .author {
  float: left;
  position: relative;
  width: 410px;
  text-align: left;
  margin: 100px 20px 0 40px; }
  html.sl-authors .author h3 {
    margin-bottom: 10px; }
  html.sl-authors .author ul {
    margin: 0px 0 0 0;
    padding: 0;
    text-align: left; }
    html.sl-authors .author ul li {
      list-style-type: none;
      margin: 0 0 40px 0; }
      html.sl-authors .author ul li:first-of-type {
        margin-bottom: 60px !important; }

html.sl-authors .slide-background {
  opacity: 0.2 !important; }

html.sl-company .slide-background {
  opacity: 0.2 !important; }

html.sl-teamlevel .slide-background {
  opacity: 0.2 !important; }

html.sl-codesample .slide-background {
  opacity: 0.6 !important; }

html.sl-big-picture section {
  /*width: 1250px !important;
    margin: 0 !important;
    left: -150px;
*/ }
  html.sl-big-picture section .column {
    float: left;
    width: 50%; }
    html.sl-big-picture section .column ol {
      text-align: left;
      margin: 40px 0 0 0;
      width: 75%; }
      html.sl-big-picture section .column ol li {
        font-size: 26px; }

html.sl-merci .reveal #hiring {
  padding-top: 70px; }

/* general style overrides ------------------------------------------------- */
body {
  background: #231f20;
  background-color: #231f20; }
  body:after {
    content: url("../img/parkside_logo_bright.svg");
    position: fixed;
    bottom: 30px;
    right: 30px; }

.reveal {
  font-family: "proxima-nova", sans-serif; }
  .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
    text-transform: none; }
  .reveal ul {
    margin: 0;
    padding: 0;
    text-align: center; }
    .reveal ul li {
      list-style-type: none; }
  .reveal p, .reveal li, .reveal q {
    margin: 20px 0;
    line-height: 1.3;
    font-weight: 100;
    font-size: 80%;
    font-style: normal; }
  .reveal .controls {
    left: 10px !important; }
    .reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
      border-right-color: #fff; }
    .reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
      border-left-color: #fff; }
    .reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
      border-bottom-color: #fff; }
    .reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
      border-top-color: #fff; }
  .reveal section img {
    border: none;
    background: transparent;
    box-shadow: none; }
    .reveal section img#tools {
      margin: 40px 0;
      width: 60%; }
    .reveal section img#schema {
      margin: 0px 0;
      width: 80%; }
