body {
  background: #231f20;
  background-color: #231f20; }

/*
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: none !important;
}*/


.reveal {
  font-family: "proxima-nova", sans-serif;

  h1,h2,h3,h4,h5,h6 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
  }

  p,li,q {
    margin: 20px 0;
    line-height: 1.3;
    font-weight: 100;
    font-size: 80%;
  }

  /*ul {
    list-style-type: disc;
  }*/

  .controls {
    left: 10px !important;

    .navigate-left,.navigate-left.enabled {
      border-right-color: #fff;
    }

    .navigate-right, .navigate-right.enabled {
      border-left-color: #fff;
    }

    .navigate-up,.navigate-up.enabled {
      border-bottom-color: #fff;
    }

    .navigate-down,.navigate-down.enabled {
      border-top-color: #fff;
    }
  }
}
