/* customizations for the individual sections - data-state="x" ------------- */

html.sl-cover {

  h2 {
    text-transform: none;
  }

  h5 {
    margin-top: 40px;
    font-weight: 100;
    font-size: 55px;
  }

  .slide-background {
    opacity: 0.1 !important;
  }
}


html.sl-authors {

  .author {
    float: left;
    position: relative;
    width: 410px;
    text-align: left;
    margin: 100px 20px 0 40px;

    h3 {
      margin-bottom: 10px;
    }

    ul {
      margin: 0px 0 0 0;
      padding: 0;
      text-align: left;

      li {

        &:first-of-type {
           margin-bottom: 60px !important;
        }

        list-style-type: none;
        margin: 0 0 40px 0;
      }
    }
  }

  .slide-background {
    opacity: 0.2 !important;
  }
}


html.sl-collaboration-aspects, html.sl-company, html.sl-tldr {

  .slide-background {
    opacity: 0.2 !important;
  }
}


html.sl-big-picture {

  h3 {
    /*position: relative;
    top: -110px !important;
    */
  }

  .slide-background {
    opacity: 1.0 !important;
    background-position-y: 100px;
    background-size: 70%;
  }

  img#schema {
    margin: 0px 0;
    width: 85%;
    
  }
}


html.sl-magic {

  .slide-background {
    opacity: 0.35 !important;
    background-position-y: 100px;
    background-size: 70%;
  }
}


html.sl-merci {

  .reveal {

    #hiring {

      padding-top: 70px;
    }
  }
}




/* general style overrides ------------------------------------------------- */

body {
  background: #231f20;
  background-color: #231f20;

  &:after {
    content: url("../img/parkside_logo_bright.svg");
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
}


.reveal {
  font-family: "proxima-nova", sans-serif;

  h1,h2,h3,h4,h5,h6 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
    text-transform: none;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: center;


    li {
      list-style-type: none;
    }
  }

  p,li,q {
    margin: 20px 0;
    line-height: 1.3 ;
    font-weight: 100;
    font-size: 80%;
    font-style: normal;
  }

  code {
      background: transparent;
      font-size: 16px;
  }

  pre {
      box-shadow: none;
  }

  #sha {
    position: fixed;
    right: 10px;
    top: 10px;
    font: 14px "courier new";
    display: none;

    &.visible {
      display: block;
    }
  }

  #ps-version-number {
    font-family: "courier new";
  }
  

  .controls {
    display: none !important;  /* turn back on if necessary */

    left: 10px !important;

    .navigate-left,.navigate-left.enabled {
      border-right-color: #fff;
    }

    .navigate-right, .navigate-right.enabled {
      border-left-color: #fff;
    }

    .navigate-up,.navigate-up.enabled {
      border-bottom-color: #fff;
    }

    .navigate-down,.navigate-down.enabled {
      border-top-color: #fff;
    }
  }

  section {

    img {

      border: none;
      background: transparent;
      box-shadow: none;
      margin: 0 !important;
      padding: 0;

      &#tools {
        margin: 40px 0;
        width: 60%;
      }

      
    }
  }
}
