.tagline {
    margin-top: 45%;
}
.topbox {
    padding-top: 50%;
}
.videolink {
    font-size: x-large;
}
.videolink img {
    width: 5%;
    padding: 1em;
}
a img {
    outline: none;
}
img {
    border: 0;
}
.resumebox {
    width: 30%;
    float: left;
    font-size: x-large;
    padding-right: 3%;
}
.linkedin {
    width: 5%;
    vertical-align: middle;
}
.comparisontable {
    font-size: xx-large;
}