/**
 * Solarized Dark theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@font-face {
	font-family: 'League Gothic';
	src: url('../../lib/font/league_gothic-webfont.eot');
	src: url('../../lib/font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../lib/font/league_gothic-webfont.woff') format('woff'),
		 url('../../lib/font/league_gothic-webfont.ttf') format('truetype'),
		 url('../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');

	font-weight: normal;
	font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

@import "solarized_colors.scss";

// Override theme settings (see ../template/settings.scss)
$mainColor: $base0;
$headingColor: $yellow;
$headingTextShadow: none;
$backgroundColor: $base03;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;
$heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
