:root {
  --r-background-color: #ffffff;
  --r-main-font: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Arial;
  --r-main-font-size: 36px;
  --r-main-color: #000000;
  --r-heading-color: #0000ff;

  --rtp-accent-h: 220;
  --rtp-accent-s: 100%;
  --rtp-accent-l: 50%;
  --r-link-color: hsl(var(--rtp-accent-h) var(--rtp-accent-s) var(--rtp-accent-l));
  --r-selection-background-color: hsla(var(--rtp-accent-h), 90%, 60%, 0.25);
}

.reveal-viewport {
  background: #ffffff;
}

.reveal a { text-decoration-color: #0000ff; }
.reveal pre code { line-height: 1.3; font-size: 0.85em; }
.reveal .controls button { border-radius: 10px; }
