meta(charset='utf-8')/
meta(http-equiv='X-UA-Compatible', content='IE=edge')/
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')/
// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
meta(name='apple-mobile-web-app-capable', content='yes')/
meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')/
