section
  h1 Reveal.js
  h3 The HTML Presentation Framework
  p
    small
      | Created by 
      a(href='http://hakim.se') Hakim El Hattab
      |  / 
      a(href='http://twitter.com/hakimel') @hakimel
