section
  h2 Slides
  p
    | Not a coder? Not a problem. There's a fully-featured visual editor for authoring these, try it out at 
    a(href='http://slides.com', target='_blank') http://slides.com
    | .
