section
  h2 Point of View
  p
    | Press 
    strong ESC
    |  to enter the slide overview.
  p
    | Hold down alt and click on any element to zoom in on it using 
    a(href='http://lab.hakim.se/zoom-js') zoom.js
    | . Alt + click anywhere to zoom back out.
