section(data-markdown='')
  script(type='text/template').
    ## Markdown support
    Write content using inline or external Markdown.
    Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).
    ```
    <section data-markdown>
    ## Markdown support
    Write content using inline or external Markdown.
    Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).
    </section>
    ```
