section
  section#fragments
    h2 Fragments
    p Hit the next arrow...
    p.fragment ... to step through ...
    p
      span.fragment ... a
      span.fragment fragmented
      span.fragment slide.
    aside.notes
      | This slide has fragments which are also stepped through in the notes window.
  section
    h2 Fragment Styles
    p There's different types of fragments, like:
    p.fragment.grow grow
    p.fragment.shrink shrink
    p.fragment.fade-out fade-out
    p.fragment.fade-up fade-up (also down, left and right!)
    p.fragment.current-visible current-visible
    p
      | Highlight 
      span.fragment.highlight-red red
      span.fragment.highlight-blue blue
      span.fragment.highlight-green green
