section#transitions
  h2 Transition Styles
  p
    | You can select from different transitions, like: 
    br
    a(href='?transition=none#/transitions') None
    |  -
    a(href='?transition=fade#/transitions') Fade
    |  -
    a(href='?transition=slide#/transitions') Slide
    |  -
    a(href='?transition=convex#/transitions') Convex
    |  -
    a(href='?transition=concave#/transitions') Concave
    |  -
    a(href='?transition=zoom#/transitions') Zoom
