section#themes
  h2 Themes
  p
    | reveal.js comes with a few themes built in: 
    br
    // Hacks to swap themes after the page has loaded. Not flexible and only intended for the reveal.js demo deck.
    a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/black.css'); return false;") Black (default)
    |  -
    a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/white.css'); return false;") White
    |  -
    a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/league.css'); return false;") League
    |  -
    a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/sky.css'); return false;") Sky
    |  -
    a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/beige.css'); return false;") Beige
    |  -
    a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/simple.css'); return false;") Simple
    br
    a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/serif.css'); return false;") Serif
    |  -
    a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/blood.css'); return false;") Blood
    |  -
    a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/night.css'); return false;") Night
    |  -
    a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/moon.css'); return false;") Moon
    |  -
    a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/solarized.css'); return false;") Solarized
