section
  section(data-background='#dddddd')
    h2 Slide Backgrounds
    p
      | Set 
      code data-background="#dddddd"
      |  on a slide to change the background color. All CSS color formats are supported.
    a.navigate-down(href='#')
      img(width='178', height='238', data-src='https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png', alt='Down arrow')
  section(data-background='https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png')
    h2 Image Backgrounds
    pre.
  section(data-background='https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png', data-background-repeat='repeat', data-background-size='100px')
    h2 Tiled Backgrounds
    pre.
  section(data-background-video='https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4,https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.webm', data-background-color='#000000')
    div(style='background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px;')
      h2 Video Backgrounds
      pre.
  section(data-background='http://i.giphy.com/90F8aUepslB84.gif')
    h2 ... and GIFs!
