section(data-transition='slide', data-background='#4d7e65', data-background-transition='zoom')
  h2 Background Transitions
  p
    | Different background transitions are available via the backgroundTransition option. This one's called "zoom".
  pre.
section(data-transition='slide', data-background='#b5533c', data-background-transition='zoom')
  h2 Background Transitions
  p
    | You can override background transitions per-slide.
  pre.
