section
  h2 Tabular Tables
  table
    thead
      tr
        th Item
        th Value
        th Quantity
    tbody
      tr
        td Apples
        td $1
        td 7
      tr
        td Lemonade
        td $2
        td 18
      tr
        td Bread
        td $3
        td 2
