section
  h2 Clever Quotes
  p
    | These guys come in two forms, inline: 
    q(cite='http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations')
      | “The nice thing about standards is that there are so many to choose from”
    |  and block:
  blockquote(cite='http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations')
    | “For years there has been a theory that millions of monkeys typing at random on millions of typewriters would
    | reproduce the entire works of Shakespeare. The Internet has proven this theory to be untrue.”
