section
  h2 Speaker View
  p
    | There's a 
    a(href='https://github.com/hakimel/reveal.js#speaker-notes') speaker view
    | . It includes a timer, preview of the upcoming slide as well as your speaker notes.
  p
    | Press the 
    em S
    |  key to try it out.
  aside.notes
    | Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
