section
  h2 Export to PDF
  p
    | Presentations can be 
    a(href='https://github.com/hakimel/reveal.js#pdf-export') exported to PDF
    | , here's an example:
  iframe(data-src='https://www.slideshare.net/slideshow/embed_code/42840540', width='445', height='355', frameborder='0', marginwidth='0', marginheight='0', scrolling='no', style='border:3px solid #666; margin-bottom:5px; max-width: 100%;', allowfullscreen='')  
