section
  h2 Much more
  ul
    li Right-to-left support
    li
      a(href='https://github.com/hakimel/reveal.js#api') Extensive JavaScript API
    li
      a(href='https://github.com/hakimel/reveal.js#auto-sliding') Auto-progression
    li
      a(href='https://github.com/hakimel/reveal.js#parallax-background') Parallax backgrounds
    li
      a(href='https://github.com/hakimel/reveal.js#keyboard-bindings') Custom keyboard bindings
