section(style='text-align: left;')
  h1 THE END
  p
    | - 
    a(href='http://slides.com') Try the online editor
    br
    | 						- 
    a(href='https://github.com/hakimel/reveal.js') Source code & documentation
