doctype
html(lang='en')
  head
    include ./templates/head_inwrapper
    include ./templates/meta_seo
    title JSFoo 17
    include ./templates/css
    include ./templates/meta_favicons
  body
    block content
    include ./templates/js
