{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": []
    },
    "production": {
      "plugins": []
    }
  }
}
